doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="author" content="bitdewy@gmail.com")
		title Marmoset Viewer
	body
	script(src="js/binary-parser.js")
	script(src="js/exporter.js")
	script(src="js/FileSaver.js")
	script(src="js/jszip.js")
	script(src="js/marmoset.js")
	script(src="js/setup.js")

